*{
    // color: green !important;
}
.home{
    // background-color: red;
.search-input{
background: red !important;

}

    .MuiTextField-root{
        background: blue !important;
        outline: none !important;
        border: none !important;
    }
}