.home {
    .top-bar {
        background-color: red !important;
    }

    .MuiInputBase-root {
        border-radius: 30px !important;
    }

    h3 {
        font-family: 'Fraunces', serif;
        font-size: 2.2rem;
        line-height: 2.5rem;
        color: #101010;
    }
}