$ghost-accent-color: #ff4d82;
$color-black: #080b12;
$color-white: #fff;
$color-font-black: #080b12;
$color-font-white: #fff;
$color-one: #f1f1f3;
$color-two: #e8e8ec;
$color-three: #080b12;
$color-four: #fff;
$color-five: #f8f6f8;
$color-six: #fff;
$color-seven: #fff;
$color-white: #fff;
$color-black: #080b12;
$color-body: #fff;
$color-border-one: #dfe2e6;
$color-gray: #959596;
$color-alert-success: #61d6ad;
$color-alert-error: #ff6c78;
$color-main: #F9C346